.load-more {
  display: none;
}

.search-form {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .search-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .search-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .search-form button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .search-form {
      max-width: 100%;
      flex-direction: column;
    }
  
    .search-form input {
      margin-bottom: 10px;
    }
  
    .search-form button {
      margin-left: 0;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  
  .photo-card {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 300px;
    display: flex;  
    flex-direction: column;  
    justify-content: space-between; 
  }
  
  .photo-card img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  
  .photo-card .info {
    padding: 10px;
    text-align: center;
    /* align-self: flex-end;  */
  }
  
  .photo-card .info-item {
    margin: 5px 0;
    font-weight: bold;
  }
  
  .photo-card .info-item b {
    color: #007BFF;
  }

  .load-more {
    background-color: #007BFF;  
    color: #fff;  
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;  
  }
  
  .load-more:hover {
    background-color: #0056b3;  
  }